p {
  text-align: justify;
}

    body {
      font-family: "Palatino";
      margin-left: 6em;
      margin-right: 6em;
      color: black;
      background-color:white;
    }
    ul {
      display: grid;
      gap: 1em;
    }

table {
   border-top: black 2px solid;
   border-bottom: black 2px solid;
   width: 80%;
}
