p {
  text-align: justify;
      width: 80%;
}

    body {
      font-family: "Palatino";
      margin-left: 6em;
      margin-right: 6em;
      color: black;
      background-color:white;
      width: 80%;
    }
    ul {
      display: grid;
      gap: 1em;
    }

table {
   border-top: black 2px solid;
   border-bottom: black 2px solid;
   width: 80%;
}

thead {
	text-align:left ;
        padding: 0;
}


th {
	border-bottom: 1px solid black;
        padding: 0;
}
